<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
</head>

<body>
<table class="table table-striped col-md-3">
    <thead>
    <tr>
        <th>순위</th>
        <th>팀명</th>
        <th>경기</th>
        <th>승</th>
        <th>패</th>
        <th>무</th>
        <th>승률</th>
        <th>게임차</th>
        <th>최근10경기</th>
        <th>연속</th>
        <th>홈</th>
        <th>어웨이</th>
    </tr>
    </thead>
    <tbody>

    <tr th:each="teams : ${teams}">
        <td th:text="${teams.ranking}"></td>
        <td th:text="${teams.teamName}"></td>
        <td th:text="${teams.matches}"></td>
        <td th:text="${teams.win}"></td>
        <td th:text="${teams.loss}"></td>
        <td th:text="${teams.draw}"></td>
        <td th:text="${teams.winningPercentage}"></td>
        <td th:text="${teams.gameDifference}"></td>
        <td th:text="${teams.recent10Games}"></td>
        <td th:text="${teams.streak}"></td>
        <td th:text="${teams.home}"></td>
        <td th:text="${teams.away}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>