<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<div th:calender="calender">
  <head>
    <link rel="stylesheet" th:href="@{/css/layout/calender.css}" />
    <script th:src="@{/js/calender.js}"></script>
  </head>

  <body>
  <button class="toggle-calendar" onclick="toggleCalendar()">
    <img src="images/home/icon-calender.png" alt="Calendar Toggle" style="height: 16px; width: 16px;">
    캘린더
  </button>


  <div class="sec_cal" id="calendar">
    <div class="cal_nav">
      <a href="javascript:;" class="nav-btn go-prev">prev</a>
      <div class="year-month"></div>
      <a href="javascript:;" class="nav-btn go-next">next</a>
    </div>
    <div class="cal_wrap">
      <div class="days">
        <div class="day">MON</div>
        <div class="day">TUE</div>
        <div class="day">WED</div>
        <div class="day">THU</div>
        <div class="day">FRI</div>
        <div class="day">SAT</div>
        <div class="day">SUN</div>
      </div>
      <div class="dates"></div>
    </div>

  </div>
  <div class="cal_nav" style="text-align: center;">
    <img src="images/home/btn_prev.png"  href="javascript:;" class="nav-btn go-prev"/>
    <div id="resultContainer" class="year-month-day"></div>
    <img src="images/home/btn_next.png" href="javascript:;" class="nav-btn go-next"/>
  </div>
  </body>
</div>

</html>

