<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="club/head :: mainHead"></head>
<head th:replace="club/head :: gameRecordButton"></head>
<head>
  <style>
    .cc-tab-con {
      display: flex;
      justify-content: center;
    }

    .cc-tab-item {
      /* 링크 아이템에 필요한 스타일 추가 */
      text-decoration: none; /* 기본 링크 효과 제거 */
      color: #000; /* 링크 텍스트 색상 설정 (필요에 따라 조절) */
    }
    .calendar_main{
      display: flex;
      justify-content: center;
    }
    .g-col-4 {
      position: relative;
      border: 0.1px solid #000;
      width: 200px;
      height: 225px;
      transition: border-width 0.2s ease, cursor 0.2s ease; /* Add transition for a smooth effect */
      cursor: default; /* Set the default cursor style */
    }

    .g-col-4:hover {
      border-width: 2px; /* Increase the border size on hover */
      cursor: pointer; /* Change cursor to a pointer on hover */
    }

    .modal {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 9999; /* 최상위로 올려서 다른 요소 위에 표시 */
      width: 500px;
      height: 500px;
      background-color: white; /* 모달 배경색 설정 */
      border: 1px solid #ccc; /* 모달 테두리 설정 */
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* 그림자 효과 추가 */
      display: none;
    }

    .modal-content {
      padding: 20px;
    }

    /* 모달 닫기 버튼 스타일 */
    .modal button {
      cursor: pointer;
      background-color: #007bff;
      color: white;
      border: none;
      padding: 10px 20px;
      font-size: 16px;
    }

    .baseballTable {
      border-collapse: collapse;
      text-align: center;
      margin: 0 auto;
      width: 1000px;
    }

    .baseballTable td {
      border: 1px solid black;
      width: 100px; /* 각 셀의 너비 조절 */
      height: 50px; /* 각 셀의 높이 조절 */
      text-align: center;
    }

    #calendarContainer {
      display: none;  /* 기본적으로 표시되도록 설정 */
    }

    #calendarIcon {
      cursor: pointer;
    }

    #calendar {
      display: none;  /* 초기에는 숨김 */
    }

  </style>
</head>

<body>

<div class="calendar_main container" style="padding-top: 5px;">
  <div class="nav" style="text-align: center; display: flex; justify-content: center;">
    <img onclick="changeDateByDay(-1)" src="/images/home/btn_prev.png" style="padding-right: 5px; text-align: center; width: 25px; height: 25px;">
    <h2 id="currentDateMain" style="text-align: center;"></h2>
    <img onclick="changeDateByDay(1)" src="/images/home/btn_next.png" style="padding-left: 5px; text-align: center; width: 25px; height: 25px;">

    <div id="calendarIcon" onclick="toggleCalendar()" style="height: 80px; width: 50px; font-size: 30px; margin-top: -10px;">
      📅
    </div>

    <div id="calendarContainer">
      <select id="yearDropdown" onchange="changeYear()">
      </select>
      <select id="monthDropdown" onchange="changeMonth()">
      </select>
      <div id="calendar"></div>
    </div>
  </div>
</div>


<div class="container" id="maininner"><!-- maininner (s)-->
  <div class="cc-tab-con">
    <a href="javascript:tabChange('1');" class="cc-tab-item">KBO 시험경기</a>
    <a href="javascript:tabChange('2');" class="cc-tab-item">KBO 정규시즌</a>
    <a href="javascript:tabChange('3');" class="cc-tab-item">KBO 퓨처스리그</a>
  </div>
</div>

<div class="container">
  <div id="schedule"  class="row justify-content-center">
    <div th:if="${not #lists.isEmpty(scheduleList)}" th:each="schedule, loop : ${scheduleList}"
         style="margin-top: 0px; margin-left: 10px; margin-bottom: 25px">
    <div th:if="${not #lists.isEmpty(schedule.gameBoard)}">
        <div class="g-col-4"
            th:data-date="${schedule.date}"
            th:data-time="${schedule.time}"
            th:data-gameboard="${schedule.gameBoard}">

        <div class="text-center container">
          <p style="font-weight: bold; display: inline;" th:text="${schedule.location.locationName}"></p>
          <p style="display: inline">|</p>
          <p style="font-weight: bold; display: inline" th:text="${schedule.time}"></p>
        </div>

        <div class="text-center container">

          <div th:id="'resultBackground' + ${loop.index}" style="position: relative; width: 70px; height: 20px; background-color: #000000; border-radius: 37.5px/75px; margin: 20px auto;">
            <p th:id="'resultGame' + ${loop.index}" style="color: #fff; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); font-weight: bold;">경기종료</p>
          </div>
        </div>

        <div class="text-center container">
          <img style="display: inline;" th:src="${schedule.awayTeam.filepath}" alt="Away Team Logo">
          <p style="display: inline; font-weight: 700; font-size: 24px;">vs</p>
          <img style="display: inline" th:src="${schedule.homeTeam.filepath}" alt="Home Team Logo">
        </div>

        <div th:id="'result' + ${loop.index}" class="bottom container" style="position: absolute; bottom: 0; width: 100%; display: flex; justify-content: center; right : -85px;"
             th:onclick="openModal([[${loop.index}]]);">
          <div style="text-align: center;">
            <img src="/images/home/bg_info.png" alt="bg-info" style="width: 200px; height: 40px;">
            <p style="font-weight: bold; font-size: 13px; color: #fff; margin-top: -30px; vertical-align: top;">경기 정보</p>
          </div>

          <div th:id="'modal' + ${loop.index}" class="modal modal-content" style="display: none; height: 400px; width: 1250px;">
            <div class="cc-tab-con">
              <a href="javascript:tabRecordButton('1');" class="cc-tab-item">경기기록</a>
              <a href="javascript:tabRecordButton('2');" class="cc-tab-item">키플레이어</a>
              <a href="javascript:tabRecordButton('3');" class="cc-tab-item">NEWS</a>
            </div>

            <input type="hidden" th:value="${scheduleList.size()}" id="loopIndex" />

            <div th:id="'contentTab1' + ${loop.index} " th:class="'content-tab' + ${loop.index}" style="display: none">
              <div th:if="${not #lists.isEmpty(schedule.gameBoard)}">
                <div class="container" style="text-align: center; padding-bottom: 20px;">
                  <p style="display: inline">관중: <span th:text="${schedule.gameBoard.crowd}"></span></p>
                  <p style="display: inline">개시: <span th:text="${schedule.gameBoard.startTime}"></span></p>
                  <p style="display: inline">종료: <span th:text="${schedule.gameBoard.endTime}"></span></p>
                  <p style="display: inline">경기시간: <span th:text="${schedule.gameBoard.runTime}"></span></p>
                </div>
              </div>
              <div class="table" style="text-align: center; display: flex;
              justify-content: center; padding-bottom: 20px;" >
                <table th:if="${schedule.gameBoard != null}" style="width: 1000px;">
                  <thead>
                  <tr>
                    <th scope="col">TEAM</th>
                    <th scope="col">1</th>
                    <th scope="col">2</th>
                    <th scope="col">3</th>
                    <th scope="col">4</th>
                    <th scope="col">5</th>
                    <th scope="col">6</th>
                    <th scope="col">7</th>
                    <th scope="col">8</th>
                    <th scope="col">9</th>
                    <th scope="col">10</th>
                    <th scope="col">11</th>
                    <th scope="col">12</th>
                    <th scope="col">R</th>
                    <th scope="col">H</th>
                    <th scope="col">E</th>
                    <th scope="col">B</th>
                  </tr>
                  </thead>

                  <!-- 어웨이 팀 점수 행 -->
                  <tbody>
                  <tr>
                    <th scope="row" th:text="${schedule.awayTeam != null ? schedule.awayTeam.teamName : ''}"></th>
                    <!-- 이닝별 점수 출력 -->
                    <th:block th:each="inning : ${schedule.gameBoard.inningScores}">
                      <td th:text="${inning.awayTeamScore}"></td>
                    </th:block>

                    <!-- R, H, E, B 값 출력 -->
                    <td class="point" style="color: red;" th:text="${schedule.gameBoard.awayTeamR}">-</td>
                    <td class="hit" th:text="${schedule.gameBoard.awayTeamH}">-</td>
                    <td class="error" th:text="${schedule.gameBoard.awayTeamE}">-</td>
                    <td class="base" th:text="${schedule.gameBoard.awayTeamB}">-</td>
                  </tr>

                  <!-- 홈 팀 점수 행 -->
                  <tr>
                    <th scope="row" th:text="${schedule.homeTeam != null ? schedule.homeTeam.teamName : ''}"></th>
                    <!-- 이닝별 점수 출력 -->
                    <th:block th:each="inning : ${schedule.gameBoard.inningScores}">
                      <td th:text="${inning.homeTeamScore}"></td>
                    </th:block>
                    <!-- R, H, E, B 값 출력 -->
                    <td class="point" style="color: red;" th:text="${schedule.gameBoard.homeTeamR}">-</td>
                    <td class="hit" th:text="${schedule.gameBoard.homeTeamH}">-</td>
                    <td class="error" th:text="${schedule.gameBoard.homeTeamE}">-</td>
                    <td class="base" th:text="${schedule.gameBoard.homeTeamB}">-</td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <!-- 테이블 끝 -->
              <div class="wPlayer container" style="text-align: center">
                <div th:if="${not #lists.isEmpty(schedule.gameBoard)}">
                  <p id="gameWinningHit" th:data-player="${schedule.gameBoard.gameHighlights.gameWinningHit}"
                     th:text="'결승타 : ' + ${schedule.gameBoard.gameHighlights.gameWinningHit}"></p>
                </div>

                <div th:unless="${not #lists.isEmpty(schedule.gameBoard)}">
                </div>
              </div>

            <div class="container">
              <div th:if="${not #lists.isEmpty(schedule.gameBoard)}">
<!--                <img style="display: inline;" th:src="${schedule.awayTeam.filepath}" alt="Away Team Logo">-->
<!--                <p th:text="${schedule.awayTeam.teamName}"></p>-->
                <div th:if="${schedule.gameBoard != null and !#lists.isEmpty(schedule.gameBoard.pitcherStats)}" th:each="pitcher, loop : ${schedule.gameBoard.pitcherStats}">
                  <div th:if="${pitcher.teamType} == 'away' and ${pitcher.result} == '승'">
                    <p>승리투수</p>
                    <p style="display: inline" th:text="${pitcher.playerName}"></p>
                    <p style="display: inline" th:text="${pitcher.wins} + '승'"></p>
                    <p style="display: inline" th:text="${pitcher.losses} + '패'"></p>
                  </div>

                  <div th:if="${pitcher.teamType} == 'away' and ${pitcher.result} == '패'">
                    <p>패전투수</p>
                    <p style="display: inline" th:text="${pitcher.playerName}"></p>
                    <p style="display: inline" th:text="${pitcher.wins} + '승'"></p>
                    <p style="display: inline" th:text="${pitcher.losses} + '패'"></p>
                  </div>
                </div>

                <div th:unless="${not #lists.isEmpty(schedule.gameBoard.pitcherStats)}">

                </div>
              </div>

              <div th:unless="${not #lists.isEmpty(schedule.gameBoard)}">

              </div>

            </div>
              <div class="container">
<!--                <img style="display: inline;" th:src="${schedule.homeTeam.filepath}" alt="Away Team Logo">-->
<!--                <p th:text="${schedule.homeTeam.teamName}"></p>-->
                <div th:if="${schedule.gameBoard != null and !#lists.isEmpty(schedule.gameBoard.pitcherStats)}" th:each="pitcher, loop : ${schedule.gameBoard.pitcherStats}">
                  <div th:if="${pitcher.teamType} == 'home' and ${pitcher.result} == '승'">
                    <p>승리투수</p>
                    <p style="display: inline" th:text="${pitcher.playerName}"></p>
                    <p style="display: inline" th:text="${pitcher.wins} + '승'"></p>
                    <p style="display: inline" th:text="${pitcher.losses} + '패'"></p>
                  </div>

                  <div th:if="${pitcher.teamType} == 'home' and ${pitcher.result} == '패'">
                    <p>패전투수</p>
                    <p style="display: inline"  th:text="${pitcher.playerName}"></p>
                    <p style="display: inline"  th:text="${pitcher.wins} + '승'"></p>
                    <p style="display: inline" th:text="${pitcher.losses} + '패'"></p>
                  </div>
                </div>

                <div th:unless="${not #lists.isEmpty(schedule.gameBoard.pitcherStats)}">
                </div>
              </div>
              </div>
            </div>
              <div class="container">
                <table th:id="'baseballTable' + ${loop.index}" class="baseballTable"></table>
              </div>
            </div>
          </div>
          </div>

          <div th:unless="${not #lists.isEmpty(schedule.gameBoard)}">
            <div class="g-col-4"
                 th:data-date="${schedule.date}"
                 th:data-time="${schedule.time}"
                 th:data-gameboard="${#lists.isEmpty(schedule.gameBoard) ? 'none' : schedule.gameBoard}"
            >


              <!-- 경기 contents -->
              <div class="text-center container">
                <p style="font-weight: bold; display: inline;" th:text="${schedule.location.locationName}"></p>
                <p style="display: inline">|</p>
                <p style="font-weight: bold; display: inline" th:text="${schedule.time}"></p>
              </div>

              <div class="text-center container">
                <div th:id="'background' + ${loop.index}" style="position: relative; width: 70px; height: 20px; background-color: #6dbef1; border-radius: 37.5px/75px; margin: 20px auto;">
                  <p th:id="'upcomingGame' + ${loop.index}" style="color: #fff; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); font-weight: bold;">경기예정</p>
                </div>

                <div th:id="'resultRainOut' + ${loop.index}" style="position: relative; width: 70px; height: 20px; background-color: #011e36; border-radius: 37.5px/75px; margin: 20px auto;">
                  <p th:id="'resultGameRainOut' + ${loop.index}" style="color: #fff; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); font-weight: bold;">우천취소</p>
                </div>
              </div>

              <div class="text-center container">
                <img style="display: inline;" th:src="${schedule.awayTeam.filepath}" alt="Away Team Logo">
                <p style="display: inline; font-weight: 700; font-size: 24px;">vs</p>
                <img style="display: inline" th:src="${schedule.homeTeam.filepath}" alt="Home Team Logo">
              </div>

              <div th:id="'bottom' + ${loop.index}" class="bottom container" style="position: absolute; bottom: 0; width: 100%; display: flex; justify-content: center;">
                <div style="text-align: center;">
                  <img src="/images/home/bg_ticket.png" alt="bg-ticket" style="width: 100px; height: 40px;">
                  <p id="ticketLink" style="font-weight: bold; font-size: 13px; color: #fff; margin-top: -30px; vertical-align: top; cursor: pointer;">
                    TICKET
                  </p>
                </div>
                <div th:id="'bottomPreview' + ${loop.index}" style="text-align: center;"
                     th:onclick="|location.href='@{/game/{scheduleId}(scheduleId=${schedule.date + schedule.awayTeam.teamName + schedule.homeTeam.teamName})}/reply'|"
                >
                  <img src="/images/home/bg_info.png" alt="bg-info" style="width: 100px; height: 40px;">
                  <p style="font-weight: bold; font-size: 13px; color: #fff; margin-top: -30px; vertical-align: top;">PREVIEW</p>
                </div>
              </div>
          </div>
        </div>
        </div>
      </div>
    </div>
      </div>
    </div>
    <div th:unless="${not #lists.isEmpty(scheduleList)}">
      <p style="text-align: center">경기가 없습니다.</p>
    </div>
  </div>
</div>

<div class="container">
  <div style="text-align: right">
    <p>*경기별 티켓 예매 일시는 각 티켓 판매처에서 확인하실 수 있습니다.</p>
  </div>
</div>

</body>

<script>
  function initDate(){
    const currentDate = new Date();
    // 날짜 옵션 설정
    const dateOptions = { year: 'numeric', month: '2-digit', day: '2-digit' };
    // 요일 옵션 설정
    const dayOptions = { weekday: 'long' };
    // 날짜 포매팅
    const formattedDate = currentDate.toLocaleDateString('ko-KR', dateOptions);
    // 요일 포매팅
    const formattedDay = currentDate.toLocaleDateString('ko-KR', dayOptions);

    // 최종 문자열 조합
    const formattedDateForDisplay = `${formattedDate} ${formattedDay}`;

    // 텍스트 업데이트
    document.getElementById('currentDateMain').textContent = formattedDateForDisplay.replace(/\./g, '. ');
  }
  document.addEventListener('DOMContentLoaded', initDate);
</script>

<script th:inline="javascript">

  function tabRecordButton(tabNum) {
    /*<![CDATA[*/
    const loopIndex = document.getElementById('loopIndex').value;

    for(var i = 0 ; i < loopIndex; i++) {
      // 모든 탭 내용 숨기기
      var allTabs = document.querySelectorAll('.content-tab + i');
      allTabs.forEach(tab => tab.style.display = 'none');

      // 클릭한 탭의 내용만 보이게 설정
      var selectedTab = document.getElementById('contentTab' + tabNum + i);
      if (selectedTab) {
        selectedTab.style.display = 'block';
      }
    }
  }

</script>

<script th:inline="javascript">

  function openModal(index) {

    // Get the modal element by ID
    var modal = document.getElementById('modal' + index);

    // Set the display property to block to show the modal
    modal.style.display = 'block';

    // Add a click event listener to close the modal when clicked outside of it
    window.addEventListener('click', function(event) {
      if (event.target == modal) {
        closeModal(index);
      }
    });
  }

  // Function to close the modal
  function closeModal(index) {
    // Get the modal element by ID
    var modal = document.getElementById('modal' + index);

    // Set the display property to none to hide the modal
    modal.style.display = 'none';

    // Remove the click event listener
    window.removeEventListener('click', function(event) {
      if (event.target == modal) {
        closeModal(index);
      }
    });
  }
</script>

<script>
  let current = new Date();

  let formattedYear = `${current.getFullYear()}`;
  let formattedMonth = `${current.getMonth() + 1}`;
  let formattedDay = `${current.getDay()}`;


  let currentDate = new Date(formattedYear, formattedMonth, formattedDay); // Corrected the month to represent March (0-based)

  function populateYearDropdown() {
    const yearDropdown = document.getElementById('yearDropdown');
    yearDropdown.innerHTML = '';

    const currentYear = new Date().getFullYear();
    for (let year = currentYear - 10; year <= currentYear + 10; year++) {
      const option = document.createElement('option');
      option.value = year;
      option.textContent = year;
      yearDropdown.appendChild(option);
    }
  }

  function populateMonthDropdown() {
    const monthDropdown = document.getElementById('monthDropdown');
    monthDropdown.innerHTML = '';

    const months = [
      '1월', '2월', '3월', '4월', '5월', '6월',
      '7월', '8월', '9월', '10월', '11월', '12월'
    ];

    for (let i = 0; i < months.length; i++) {
      const option = document.createElement('option');
      option.value = i;
      option.textContent = months[i];
      monthDropdown.appendChild(option);
    }
  }

  function changeYear() {
    const yearDropdown = document.getElementById('yearDropdown');
    currentDate.setFullYear(parseInt(yearDropdown.value));
    updateDate();
    updateCalendar();
    sendAjaxRequest();
  }

  function changeMonth() {
    const monthDropdown = document.getElementById('monthDropdown');
    currentDate.setMonth(parseInt(monthDropdown.value));
    updateDate();
    updateCalendar();
    sendAjaxRequest();
  }

  function changeDateByDay(day) {
    currentDate.setDate(currentDate.getDate() + day);
    updateDate();
    updateCalendar();
    sendAjaxRequest();
  }

  function formatDateForServer(date) {
    const year = date.getFullYear();
    const month = (date.getMonth() + 1).toString().padStart(2, '0'); // Adjust month to be 1-based
    const day = date.getDate().toString().padStart(2, '0');
    return `${year}${month}${day}`;
  }

  function updateDate() {
    const options = { year: 'numeric', month: '2-digit', day: '2-digit', weekday: 'long' };
    const formattedDateForDisplay = currentDate.toLocaleDateString('ko-KR', options).replace(/-/g, '').replace(/\./g, '.');
    document.getElementById('currentDateMain').textContent = formattedDateForDisplay;
  }

  function updateCalendar() {
    const calendarContainer = document.getElementById('calendar');
    calendarContainer.innerHTML = ''; // 이전 내용 지우기

    const daysInMonth = new Date(currentDate.getFullYear(), currentDate.getMonth() + 1, 0).getDate();
    const firstDayOfMonth = new Date(currentDate.getFullYear(), currentDate.getMonth(), 1).getDay();

    const table = document.createElement('table');
    const headerRow = document.createElement('tr');

    // 요일 헤더
    const daysOfWeek = ['일', '월', '화', '수', '목', '금', '토'];
    for (let i = 0; i < daysOfWeek.length; i++) {
      const th = document.createElement('th');
      th.textContent = daysOfWeek[i];
      headerRow.appendChild(th);
    }

    table.appendChild(headerRow);

    // 달력 날짜
    let dayCount = 1;
    for (let i = 0; i < 6; i++) { // 최대 6개의 행을 가정
      const row = document.createElement('tr');

      for (let j = 0; j < 7; j++) {
        const td = document.createElement('td');

        if (i === 0 && j < firstDayOfMonth) {
          // 달의 첫 날 이전의 빈 셀
          td.textContent = '';
        } else if (dayCount <= daysInMonth) {
          // 달의 날짜 채우기
          td.textContent = dayCount;

          // 각 날짜에 클릭 이벤트 리스너 추가
          td.addEventListener('click', function () {
            const clickedDay = parseInt(td.textContent);
            currentDate.setDate(clickedDay); // 클릭한 날짜로 설정
            updateDate(); // 날짜 업데이트
            sendAjaxRequest(); // AJAX 요청 전송
          });

          dayCount++;
        }

        row.appendChild(td);
      }

      table.appendChild(row);
    }

    calendarContainer.appendChild(table);
  }
  function sendAjaxRequest() {
    const formattedDateForServer = formatDateForServer(currentDate);

    $.ajax({
      url: '/api/schedule',
      type: 'GET',
      data: { date: formattedDateForServer },
      success: function(data) {
       $('#schedule').html($(data).find('#schedule').html());

        var schedules = [];

        $('.g-col-4').each(function() {
          var date = $(this).data('date');
          var time = $(this).data('time');
          var gameBoard = $(this).data('gameboard');


          if (gameBoard === 'none') {
            console.log("게임 보드가 비어있습니다.");
          } else {
            console.log("g-col-4 안에 " + gameBoard);
          }

          schedules.push({date: date, time: time, gameBoard: gameBoard});
        });

        updateGameStatus(schedules); // 함수 업데이트 호출
      },
      error: function (xhr, status, error) {
        console.error('Failed to load data. Status:', status, 'Error:', error);
      }
    });

    function updateGameStatus(schedules) {

      if (schedules && schedules.length > 0) {
        for (var i = 0; i < schedules.length; i++) {
          var currentDate = new Date();

          var scheduleDateString = String(schedules[i].date);
          var scheduleTimeString = String(schedules[i].time);
          var scheduleGameBoardString = String(schedules[i].gameBoard);
          var scheduleDateStr = scheduleDateString.substr(0, 4) + '-' + scheduleDateString.substr(4, 2) + '-' + scheduleDateString.substr(6, 2);
          var scheduleDate = new Date(scheduleDateStr + " " + scheduleTimeString);
          var timeDifference = currentDate - scheduleDate;
          var hoursDifference = timeDifference / (1000 * 60 * 60);
          // 각 container에 대한 동적인 ID 생성
          var backgroundId = 'background' + i;
          var upcomingGameId = 'upcomingGame' + i;
          var bottomId = 'bottom' + i;

          var resultBackgroundId = 'resultBackground' + i;
          var resultGameId = 'resultGame' + i;
          var resultId = 'result' + i;

          var resultRainOutId = 'resultRainOut' + i;
          var resultGameRainOutId = 'resultGameRainOut' + i;

          console.log("시간확인" + hoursDifference);

          // 경기예정인 경우
          if (scheduleGameBoardString == 'none' && hoursDifference < 0) {
            $('#' + upcomingGameId).show();
            $('#' + backgroundId).show();
            $('#' + bottomId).show();

            $('#' + resultBackgroundId).hide();
            $('#' + resultId).hide();
            $('#' + resultGameId).hide();
            $('#' + resultRainOutId).hide();
            $('#' + resultGameRainOutId).hide();
          }
          // 우천 취소인 경우
          else if(scheduleGameBoardString == 'none'  && hoursDifference > 0 ){
            $('#' + resultRainOutId).show();
            $('#' + resultGameRainOutId).show();

            $('#' + upcomingGameId).hide();
            $('#' + backgroundId).hide();
            $('#' + bottomId).hide();
            $('#' + resultBackgroundId).hide();
            $('#' + resultId).hide();
            $('#' + resultGameId).hide();

          }
          // 경기종료인 경우
          else if(hoursDifference > 0) {
            $('#' + resultBackgroundId).show();
            $('#' + resultGameId).show();
            $('#' + resultId).show();


            $('#' + upcomingGameId).hide();
            $('#' + backgroundId).hide();
            $('#' + bottomId).hide();
            $('#' + resultRainOutId).hide();
            $('#' + resultGameRainOutId).hide();
          }
        }
      } else {
        // schedules이 null 또는 빈 배열인 경우에 대한 처리
        console.log("일정이 없습니다.");
      }
    }

    // 초기 실행

    // Initialize
    populateYearDropdown();
    populateMonthDropdown();
    updateDate();
    updateCalendar();
  }
  function toggleCalendar() {
    var calendarContainer = document.getElementById('calendarContainer');
    var calendar = document.getElementById('calendar');

    if (calendarContainer.style.display === 'none' || calendarContainer.style.display === '') {
      // 캘린더 데이터를 업데이트하는 로직을 여기에 추가
      populateYearDropdown();
      populateMonthDropdown();
      updateCalendar(); // 캘린더를 업데이트하여 현재 설정된 날짜에 맞는 데이터를 표시

      // 화면에 캘린더를 그릴 때의 로직
      calendar.style.display = 'block';
      calendarContainer.style.display = 'block';
    } else {
      calendarContainer.style.display = 'none';
      calendar.style.display = 'none';
    }
  }

</script>
</html>