<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>
<label for="dateFilter">날짜 필터:</label>
<input type="date" id="dateFilter" onchange="filterTableByDate()">

<table class="table" >
  <!-- Your table content here -->
  <thead>
  <tr>
    <th>날짜</th>
    <th>시간</th>
    <th>위치</th>
    <th>홈</th>
    <th>어웨이</th>
    <!-- Add more table headers based on your Schedule entity fields -->
  </tr>
  </thead>
  <tbody>
  <!-- Iterate over scheduleList and display values in the table -->
  <tr th:each="schedule, loop : ${scheduleLists}">
    <td th:text="${schedule.date}"></td>
    <td th:text="${schedule.time}"></td>
    <td th:text="${schedule.location.locationName}"></td>
    <td th:text="${schedule.homeTeam.teamName}"></td>
    <td th:text="${schedule.awayTeam.teamName}"></td>
    <!-- Add more table cells based on your Schedule entity fields -->
  </tr>
  </tbody>
</table>
<!-- Todo : 변경 해야함... ajax 안됨.  -->
<script>
  function filterTableByDate() {
    var inputDate = document.getElementById("dateFilter").value;
    // Use Ajax to send a request to the server
    $.ajax({
      url: '/api/schedule',
      type: 'GET',
      data: { date: inputDate },
      success: function(data) {
        // Update the table content
        $('.table').html($(data).find('.table').html());
      },
      error: function () {
        console.error('데이터를 불러오는 데 실패했습니다.');
      }
    });
  }
</script>
</body>
</html>