<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<div th:fragment="header">
    <div th:replace="layout/topOverTop::topOverTop"></div>
    <nav class="navbar navbar-dark sticky-top bg-dark ">
            <div class="container">
                <a class="text-light" href="/"><h4>한화이글스는 언제 가을야구에 갈까?</h4></a>
                <ul class="nav justify-content-end">
                    <li class="nav-item" sec:authorize="isAnonymous()"><a class="nav-link text-light" th:href="${''}">일정∙결과</a></li>
                    <li class="nav-item" sec:authorize="isAnonymous()"><a class="nav-link text-light" th:href="${''}">기록∙순위</a></li>
                    <li class="nav-item" sec:authorize="isAnonymous()"><a class="nav-link text-light" th:href="${''}">미디어∙뉴스</a></li>
                    <li class="nav-item" sec:authorize="isAnonymous()"><a class="nav-link text-light" th:href="${''}">퓨처스리그</a></li>
                    <li class="nav-item" sec:authorize="isAnonymous()"><a class="nav-link text-light" th:href="${''}">KBO마켓</a></li>
                    <li class="nav-item" sec:authorize="hasAuthority('ROLE_ADMIN')"><a class="nav-link text-light" th:href="@{/admin}">관리자</a></li>
                    <li class="nav-item" ><a class="nav-link text-light" href="/">HOME</a></li>
                </ul>
            </div>
        </nav>
    </div>
</div>
</html>