<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/layout/hrline.css}" />
    <!-- include libraries(jQuery, bootstrap) -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/currentTime.js"></script>
    <!-- include summernote css/js -->
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
</head>
<div class="container">
    <div class="row">
        <div class="col-12">
            <head th:replace="layout/header::userHead"></head>
            <header th:replace="layout/topOverTop::topOverTop"></header>
            <header th:replace="layout/top::header"></header>
        </div>
    </div>
</div>
<body>

<div class="container">
    <div class="row">
        <div class ="col-sm-3">
            <div th:replace="layout/sidebar ::sidebar"></div> <!-- 사이드 바 --> <!-- col-sm-3 -->
        </div>
    </div>
    <!-- ad -->
    <row class = "row">
        <div class ="container">
            <img class="figure-img img-fluid rounded" src="/images/ad/advertise_2.png" alt="광고 이미지">
        </div>
    </row>
    <!-- 절취선 -->
    <row class = "row">
        <div class ="container">
            <div class="hr-sect">커뮤니티 / 사는얘기</div>
        </div>
    </row>
    <!--  -->
    <row class="row p-3">
        <div class="container p-3" th:each="board : ${boards}">
            <h6 th:text="${board.account.username}"></h6> <!-- 작성자 -->
            <h6 style="display:inline" id="timeDifference"></h6> <h6 style="display:inline">·</h6>
            <img style="display:inline" src="/images/detailBoardList/view-icon.png"  height="18" width="18" title="눈동자 아이콘">
            <h6 style="display:inline" th:text="${board.viewCount}"></h6>

            <!-- Todo: 내용 및 컨텐츠 제작 -->
        </div>
    </row>

    <row class="row p-3 ">
        <div class="container" th:each="board : ${boards}">
            <strong><p style="font-size:36px" th:text="${board.title}"></p></strong> <br><br>

            <h5 style="font-size:16px" th:if="${board.content != null}" th:text="${board.content}"></h5>
            <!-- Todo: 내용 및 컨텐츠 제작 -->
        </div>
    </row>

    <row class ="row p-3">
        <div class="container">
            <form role="form" th:action="@{'/members/boards/' + ${boardId} + '/detail'}" th:object="${commentForm}" method="post">
                <!--Todo: summernote 적용안됨 -->
                <textarea type="text" th:field="*{comment}" class="form-control" placeholder="후기를 남겨주세요." id="summernote" name="content"></textarea>

                <button type="submit">Submit Comment</button>
            </form>
        </div>

        <div class ="container">
            <div class="container" th:if="${comments != null}">
                <div th:each="comment : ${comments}">
<!--                    <p th:text="${comment.account.username}"></p>-->
                    <span th:utext ="${comment.comment}"></span>
                </div>
            </div>
        </div>
    </row>

</div>
</div>
</body>

<script th:inline="javascript">
    /*[# th:if="${not #lists.isEmpty(boards)}"]*/
    var createdDateString = /*[[${boards[0].createdDate}]]*/ '';
    console.log(createdDateString);
    /*[/]*/
</script>
<script src="/js/currentTime.js"></script>

<script>
    $(document).ready(function () {
        $('#summernote').summernote({
            codeviewFilter: false, // 코드 보기 필터 비활성화
            codeviewIframeFilter: false, // 코드 보기 iframe 필터 비활성화

            height: 500, // 에디터 높이
            minHeight: null, // 최소 높이
            maxHeight: null, // 최대 높이
            focus: true, // 에디터 로딩 후 포커스 설정
            lang: 'ko-KR', // 언어 설정 (한국어)

            toolbar: [
                ['style', ['style']], // 글자 스타일 설정 옵션
                ['fontsize', ['fontsize']], // 글꼴 크기 설정 옵션
                ['font', ['bold', 'underline', 'clear']], // 글자 굵게, 밑줄, 포맷 제거 옵션
                ['color', ['color']], // 글자 색상 설정 옵션
                ['table', ['table']], // 테이블 삽입 옵션
                ['para', ['ul', 'ol', 'paragraph']], // 문단 스타일, 순서 없는 목록, 순서 있는 목록 옵션
                ['height', ['height']], // 에디터 높이 조절 옵션
                ['insert', ['picture', 'link', 'video']], // 이미지 삽입, 링크 삽입, 동영상 삽입 옵션
                ['view', ['codeview', 'fullscreen', 'help']], // 코드 보기, 전체 화면, 도움말 옵션
            ],

            fontSizes: [
                '8', '9', '10', '11', '12', '14', '16', '18',
                '20', '22', '24', '28', '30', '36', '50', '72',
            ], // 글꼴 크기 옵션

            styleTags: [
                'p',  // 일반 문단 스타일 옵션
                {
                    title: 'Blockquote',
                    tag: 'blockquote',
                    className: 'blockquote',
                    value: 'blockquote',
                },  // 인용구 스타일 옵션
                'pre',  // 코드 단락 스타일 옵션
                {
                    title: 'code_light',
                    tag: 'pre',
                    className: 'code_light',
                    value: 'pre',
                },  // 밝은 코드 스타일 옵션
                {
                    title: 'code_dark',
                    tag: 'pre',
                    className: 'code_dark',
                    value: 'pre',
                },  // 어두운 코드 스타일 옵션
                'h1', 'h2', 'h3', 'h4', 'h5', 'h6',  // 제목 스타일 옵션
            ],

            callbacks: {
                onImageUpload: function (files, editor, welEditable) {
                    // 파일 업로드 (다중 업로드를 위해 반복문 사용)
                    for (var i = files.length - 1; i >= 0; i--) {
                        var fileName = files[i].name

                        // 이미지 alt 속성 삽일을 위한 설정
                        var caption = prompt('이미지 설명 :', fileName)
                        if (caption == '') {
                            caption = '이미지'
                        }
                        uploadSummernoteImageFile(files[i], this, caption)
                    }
                },
            },
        })
    })

    // 이미지 업로드 함수 ajax 활용
    function uploadSummernoteImageFile(file, el, caption) {
        data = new FormData()
        data.append('file', file)
        $.ajax({
            data: data,
            type: 'POST',
            url: 'uploadSummernoteImageFile',
            contentType: false,
            enctype: 'multipart/form-data',
            processData: false,
            success: function (data) {
                $(el).summernote(
                    'editor.insertImage',
                    data.url,
                    function ($image) {
                        $image.attr('alt', caption) // 캡션 정보를 이미지의 alt 속성에 설정
                    }
                )
            },
        })
    }
</script>
</html>
