<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/layout/hrline.css}" />

    <!-- include libraries(jQuery, bootstrap) -->
    <script src="/js/currentTime.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
    <!-- include summernote css/js -->
<!--    <script src="/summernote/summernote-lite.js"></script>-->
<!--    <script src="/summernote/summernote-ko-KR.js"></script>-->
<!--    <link rel="stylesheet" href="/summernote/summernote-lite.css">-->
</head>
<style>
    .rectangle-1{
        width: auto;
        height: 200px;
        background-color: white;
        border: 0.5px solid #000;
        border-radius: 10px;
    }
    .rectangle {
        width: auto;
        height: 100px;
        background-color: white;
        text-align: center;
        line-height: 100px;
        border: 0.5px solid #000;
        border-radius: 10px;
        margin-top: 20px; /* 또는 다른 값 */

    }
    .rectangle p{
        text-align: left;
        padding-left: 10px;
    }
    .rectangle button {
        width: 100px;
        height: 40px;
        border-radius: 10px;
        font-size : 14px;
        float: right;
    }
    .login-comment-box{

    }

    .login-comment-box button{
        margin-top: 10px;
        width: 100px;
        height: 40px;
        border-radius: 10px;
        font-size : 14px;
        float: right;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-12">
            <head th:replace="layout/header::userHead"></head>
            <header th:replace="layout/topOverTop::topOverTop"></header>
            <header th:replace="layout/top::header"></header>
        </div>
    </div>
</div>
<body>

<div class="container">
    <div class="row">
        <div class ="col-sm-3">
            <div th:replace="layout/sidebar ::sidebar"></div> <!-- 사이드 바 --> <!-- col-sm-3 -->
        </div>
    </div>
    <!-- ad -->
    <row class = "row">
        <div class ="container">
            <img class="figure-img img-fluid rounded" src="/images/ad/advertise_2.png" alt="광고 이미지">
        </div>
    </row>
    <!-- 절취선 -->
    <row class = "row">
        <div class ="container">
            <div class="hr-sect">커뮤니티 / 사는얘기</div>
        </div>
    </row>
    <!--  -->
    <row class="row p-3">
        <div class="container p-3" th:each="board : ${boards}" style="display: flex; align-items: center;">
            <img style="display:inline" th:if="${board.account.filepath != null}"
                 th:src="${board.account.filepath}" height="32" width="32" title="profile">

            <div style="display: inline-block; margin-left: 10px;">
                <h6 style="margin-left: 5px;" th:text="${board.account.username}"></h6> <!-- 작성자 -->
                <h6 style="display: inline; margin-left: 5px;" id="timeDifference"></h6>
                <h6 style="display: inline; margin-left: 5px;">·</h6>
                <img style="display:inline; margin-left: 5px;" src="/images/detailBoardList/view-icon.png" height="15" width="16" title="눈동자 아이콘">
                <h6 style="display: inline; margin-left: 1px;" th:text="${board.viewCount}"></h6>
<!--                <h6 style="display: inline; margin-left: 1px;" id="likeCount" class="fas fa-heart" th:text="${board.likes}"></h6>-->
            </div>

            <!-- Todo: 내용 및 컨텐츠 제작 -->
        </div>
    </row>

    <row class="row p-3 ">
        <div class="container" th:each="board : ${boards}">
            <p style="font-size:30px; font-weight: bold; padding-bottom: 30px" th:text="${board.title}"></p>
            <p style="font-size:16px" th:if="${board.content != null}" th:text="${board.content}"></p>
            <!-- Todo: 내용 및 컨텐츠 제작 -->
        </div>
    </row>


    <row class="row p-3" style="text-align: right;">
        <div class="container" th:each="like : ${likes}">
            <i class="fas fa-thumbs-up like-btn" style="font-size: 25px; padding: 10px;" onclick="PostLike()"></i>
            <p style="font-size:30px; font-weight: bold; padding-bottom: 30px" th:text="${like.likes}" class="likeCount"></p>
            <i class="fas fa-thumbs-down unlike-btn" style="font-size: 25px; padding: 10px;" onclick="PostUnlike()"></i>
            <p style="font-size:30px; font-weight: bold; padding-bottom: 30px" th:text="${like.unlikes}" class="unlikeCount"></p>
        </div>
    </row>
    <!-- 절취선 -->
    <row>
        <div class ="container">
            <hr>
        </div>
    </row>


    <row class ="row p-3">
        <!-- 로그인을 하지 않았을때, -->
        <div class="container" sec:authorize="!isAuthenticated()">
            <div class ="container rectangle-1">
                <div style="display: flex; align-items: center;">
                    <img src="/images/comment/icon-profile.svg" style="margin-right: 10px;">
                    <div class="container rectangle">
                        <p>댓글을 작성하려면 <a th:href="@{/login}">로그인</a>이 필요합니다.</p>
                        <button class="btn btn-primary" type="submit">댓글 쓰기</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- 로그인을 했을때 -->
        <div class="container" sec:authorize="isAuthenticated()">
            <div class ="container rectangle-1">
                <div style="display: flex; align-items: center;">
                    <img src="/images/comment/icon-profile.svg" style="margin-right: 10px;">
                    <div class="container login-comment-box">
                        <form role="form" th:action="@{'/members/boards/' + ${boardId} + '/detail'}" th:object="${commentForm}" method="post">
                            <textarea type="text" class="form-control" placeholder="주제에 대한 생각을 자유롭게 댓글로 표현해 주세요. 여러분의 다양한 의견을 기다립니다." id="tiny" name="comment"></textarea>
                            <button class="btn btn-primary" type="submit">댓글 쓰기</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </row>

    <div class="row" style="margin-top: 50px;  flex-direction: column;">

        <div class="container" th:if="${comments != null}" style="display: flex;  flex-direction: column;">
            <div clas ="container">
                <h6 th:if="${#lists.isEmpty(comments)}">댓글이 없습니다.</h6>
                <h6 th:if="${not #lists.isEmpty(comments)}" th:text="${#lists.size(comments) + '의 댓글'}"></h6>
            </div>

            <div class="container" style="margin-top: 70px" th:each="comment, loop :  ${comments}"
                 th:data-comment-index="${loop.index}" th:data-comment-created-date="${comment.createdDate}">

                <img style="display:inline" th:if="${comment.account.filepath != null}"
                     th:src="${comment.account.filepath}" height="32" width="32" title="profile">
                <h6 style="display: inline" th:text="${comment.account.username}"></h6> <!-- 작성자 -->
                <h6 style="display: inline">·</h6>
                <h6 style="display: inline" th:id="'timeDifference-' + ${loop.index}" th:text="'timeDifference-' + ${loop.index}"></h6>
                <!-- TODO: 흐음.. 왜 안되지? -->

                <div style="padding-top:15px">
                    <span th:utext ="${comment.comment}"></span>
                </div>

                <div class = "" style="padding-top: 15px" th:if = "${comment.comment != null}">
                    <hr>
                </div>

                <div class ="" style="padding-top: 15px"th:each="reply, loop :  ${comment.replies}"
                     th:data-comment-index="${loop.index}" th:data-comment-created-date="${comment.createdDate}">

                    <span th:id="'comment_btn_toggle' + ${loop.index}" style="cursor: pointer; text-decoration: underline; color: blue;">댓글 보기</span>
                    <div class="container" id="commentContainer" th:if="${comment.replies != null}" style="display: flex;  flex-direction: column;">
                        <div class="container" style="margin-top: 70px">

                            <img style="display:inline" th:if="${reply.account.filepath != null}"
                                 th:src="${reply.account.filepath}" height="32" width="32" title="profile">
                            <h6 style="display: inline" th:text="${reply.account.username}"></h6> <!-- 작성자 -->
                            <h6 style="display: inline">·</h6>
                            <h6 style="display: inline" th:id="'timeDifference-' + ${loop.index}" th:text="'timeDifference-' + ${loop.index}"></h6>
                            <div style="padding-top:15px">
                                <span th:utext ="${reply.content}"></span>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="container" style="padding-top:15px">

                    <span id="btn_toggle" type="submit" style="cursor: pointer; text-decoration: none; color: blue; padding: 10px">댓글 쓰기</span>

                    <div id="loginPopup" class="popup" style="display: block;">
                    </div>

                    <div id="auth-toggle" class="container" sec:authorize="isAuthenticated()">
                        <div class ="container rectangle-1">
                            <div style="display: flex; align-items: center;">
                                <img src="/images/comment/icon-profile.svg" style="margin-right: 10px;">
                                <div class="container login-comment-box">
                                    <form role="form" th:action="@{'/members/boards/' + ${boardId} + '/comments/' + ${comment.id} + '/replies'}" th:object="${postForm}" method="post">
                                        <textarea type="text" class="form-control" placeholder="주제에 대한 생각을 자유롭게 댓글로 표현해 주세요. 여러분의 다양한 의견을 기다립니다." id="tiny" name="comment"></textarea>
                                        <button class="btn btn-primary">댓글 쓰기</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- Todo: 내용 및 컨텐츠 제작 -->
            </div>
        </div>
    </row>
</div>
</div>
</body>



<!--<script>-->
<!--    // Using jQuery for simplicity-->
<!--    $(document).ready(function() {-->
<!--        $("#comment_btn_toggle").click(function() {-->
<!--            $("#commentContainer").slideToggle();-->
<!--            $("#btn_toggle").slideToggle();-->
<!--            $("#auth-toggle").toggle();-->
<!--        });-->
<!--    });-->
<!--</script>-->
<script>
    $(document).ready(function() {
        $(".comment_btn_toggle").click(function() {
            var commentIndex = $(this).data("comment-index");
            var commentContainerId = '#commentContainer_' + commentIndex;
            var loginPopupId = '#loginPopup_' + commentIndex;
            var commentWriteContainerId = '#commentWriteContainer_' + commentIndex;

            $(commentContainerId).slideToggle();
            $(loginPopupId).slideToggle();
            $(commentWriteContainerId).toggle();  // 댓글 보기를 토글할 때 댓글 쓰기 영역을 보이거나 숨김

            // 이하 필요에 따라 추가적인 토글 작업 수행

            // 토글 상태에 따라 버튼 텍스트 변경
            var btnText = $(this).text() === '댓글 보기' ? '댓글 숨기기' : '댓글 보기';
            $(this).text(btnText);
        });
    });
</script>

<script>
    var selectedOption = null;

    function toggleLike() {
        selectedOption = 'like';
        updateButtons();
        PostLike();
    }

    function toggleUnlike() {
        selectedOption = 'unlike';
        updateButtons();
        PostUnlike();
    }

    function updateButtons() {
        if (selectedOption === 'like') {
            // 좋아요 선택 시 처리
            $('.fa-thumbs-up').addClass('selected');
            $('.fa-thumbs-down').removeClass('selected');
        } else if (selectedOption === 'unlike') {
            // 싫어요 선택 시 처리
            $('.fa-thumbs-up').removeClass('selected');
            $('.fa-thumbs-down').addClass('selected');
        } else {
            // 선택 해제 시 처리
            $('.fa-thumbs-up').removeClass('selected');
            $('.fa-thumbs-down').removeClass('selected');
        }
    }
</script>

<script th:inline="javascript">
    var boardId = /*[[${boardId}]]*/ 0;  // 현재 게시글의 ID

    function PostLike() {
        $.ajax({
            type: 'POST',
            url: '/toggle-like/' + boardId,
            success: function (likeCount) {
                // 성공 시 좋아요 개수 갱신
                $('#likeCount').text(likeCount);
            },
            error: function (error) {
                console.log('좋아요 토글 중 오류 발생: ' + error);
            }
        });
    }

    function PostUnlike() {
        $.ajax({
            type: 'POST',
            url: '/toggle-unlike/' + boardId,
            success: function (unlikeCount) {
                // 성공 시 싫어요 개수 갱신
                $('#unlikeCount').text(unlikeCount);
            },
            error: function (error) {
                console.log('싫어요 토글 중 오류 발생: ' + error);
            }
        });
    }
</script>

<script th:inline="javascript">
    /*<![CDATA[*/
    document.addEventListener('DOMContentLoaded', function() {
        var isAuthenticated = /*[[${isAuthenticated}]]*/ false;
        function handleCommentButtonClick() {
            // 로그인 상태 체크
            if (isAuthenticated ) {
                $("#auth-toggle").toggle();
            } else {

            }
        }
        // 댓글 쓰기 버튼에 click 이벤트 리스너를 등록합니다.
        $("#btn_toggle").click(function() {
            handleCommentButtonClick();
        });
    });
    /*]]>*/
</script>

<script th:inline="javascript">
    /*[# th:if="${not #lists.isEmpty(boards)}"]*/
    var createdDateString = /*[[${boards[0].createdDate}]]*/ '';
    // console.log(createdDateString);
    /*[/]*/
</script>
<script src="/js/currentTime.js"></script>

<script th:inline="javascript">
    /*[# th:if="${not #lists.isEmpty(comments)}"]*/
    /*[# th:each="comment, commentIndex : ${comments}"]*/
    var CommentCreatedDateString = /*[[${comment.createdDate}]]*/ '';
    var CommentIndex = /*[[${commentIndex.index}]]*/ '';
    console.log('Comment created date:', CommentCreatedDateString);
    console.log('Comment index:', CommentIndex);
    /*[/]*/
    /*[/]*/
</script>

<script th:inline="javascript">
    window.addEventListener('load', function () {
        // Use the passed argument instead of directly accessing CommentCreatedDateString
        (function () {
            // Select all elements with data-comment-created-date attribute
            var comments = document.querySelectorAll('[data-comment-created-date]');

            comments.forEach(function (comment) {
                // Retrieve data-comment-created-date and data-comment-index attributes
                var CommentCreatedDateString = comment.getAttribute('data-comment-created-date');
                var CommentIndex = comment.getAttribute('data-comment-index');
                console.log('CommentCreatedDateString 내부' + CommentCreatedDateString);
                console.log('Comment index: 내부 ', CommentIndex);

                // Convert the string to a Date object
                var createdDate = new Date(CommentCreatedDateString);

                // Get the current date and time
                var currentDate = new Date();

                // Calculate the time difference in milliseconds
                var timeDifference = currentDate - createdDate;

                // Calculate days, hours, minutes, and seconds
                var days = Math.floor(timeDifference / (1000 * 60 * 60 * 24));
                var hours = Math.floor((timeDifference % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                var minutes = Math.floor((timeDifference % (1000 * 60 * 60)) / (1000 * 60));
                var seconds = Math.floor((timeDifference % (1000 * 60)) / 1000);

                // Format the time difference for display
                var formattedTimeDifference = '';

                if (days > 0) {
                    formattedTimeDifference += days + '일 ';
                }

                if (hours > 0 && days === 0) {
                    formattedTimeDifference += hours + '시간 ';
                }

                if (minutes > 0 && days === 0 && hours === 0) {
                    formattedTimeDifference += minutes + '분 ';
                }

                if (seconds > 0 && days === 0 && hours === 0 && minutes === 0) {
                    formattedTimeDifference += seconds + '초 ';
                }

                // Display the formatted time difference in the HTML
                var timeDifference= document.getElementById('timeDifference-' + CommentIndex);
                console.log(timeDifference + "timedifference" + CommentIndex + "인덱스값" + "타임" + timeDifference);
                if (timeDifference) {
                    timeDifference.textContent = formattedTimeDifference + '전';
                }
            });
        })();
    });
</script>

<!--<script src="/js/currentTime2.js"></script>-->

<!-- 위지윅 에디터 추가 -->
<script src="https://cdn.tiny.cloud/1/4leh6lsbpk2gwzf0jmuglmc1uohl7ii3mczhdgex8mg4aw2m/tinymce/6/tinymce.min.js"
        referrerpolicy="origin"></script>


<script>
    tinymce.init({
        selector: 'textarea#tiny' ,
        height : '200px'
    });
</script>

</html>
