<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<!-- Todo : 개인정보처리 방침, 문자 중계 , 고객질문, 사이드맵  -->
<style>

</style>

<nav class="nav justify-content-start">
  <div th:fragment="topOverTop">
    <ul class ="navbar list-unstyled">
      <li class="nav-item mb-0 h5"><a class="nav-link text-dark" th:href="@{/login}">선수기록</a></li>
      <li class="nav-item mb-0 h5"><a class="nav-link text-dark" th:href="@{/users}">팀기록</a></li>
      <li class="nav-item mb-0 h5"><a class="nav-link text-dark" th:href="@{/logout}">투수VS타자</a></li>
    </ul>
  </div>
</nav>
</div>
</html>