<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<!-- Todo : Padding 작업  -->
<head>
    <title>메인 페이</title>
    <link rel="stylesheet" th:href="@{/css/layout/calender.css}" />
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-12">
            <head th:replace="layout/header::userHead"></head>
            <header th:replace="layout/topOverTop::topOverTop"></header>
            <header th:replace="layout/top::header"></header>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class ="col-sm-3">
            <div th:replace="layout/sidebar ::sidebar"></div> <!-- 사이드 바 --> <!-- col-sm-3 -->
        </div>
    </div>

    <div class = "row p-3">
        <!-- 광고 -->
        <div class="col-8 col-sm-6">
            <div th:replace="/home/advertise :: advertise"></div>
        </div>
        <!-- 팀순위 -->
        <div class="col-8 col-sm-6">
            <div th:replace="kbo/layout/teamBoardList"></div>
        </div>
    </div>
    <div class = "row p-3">
        <div class="col-12">
            <!-- Todo : 경기 일정  -->
            <div th:replace="layout/rule"></div>
            <div th:replace="layout/calender"></div>


        </div>

        <div class="col-12 col-sm-6">
            <!-- Todo : 경기 일정  -->



        </div>

    </div>
    <div class = "row">
        <!-- banner#1 -->
        <div class="col-8 col-sm-6 mx-auto">
            <div th:replace="/home/banner_1 :: banner-1"></div>
            <!-- Todo: 미디어/커뮤니티 내용 최근 top-5 -->
        </div>
        <!-- banner#2 -->
        <div class="col-8 col-sm-6 mx-auto">
            <div th:replace="/home/banner_2 :: banner-2"></div>
            <!-- Todo: 커뮤니티 내용 최근 5개  -->

            <div th:replace="/home/recentBoardTop5 :: body"></div>
        </div>
    </div>

    <div class = "row">
        <div class="col-8 col-sm-6 mx-auto">

        </div>
        <div class="col-8 col-sm-6 mx-auto">

        </div>
    </div>
</div>
<script>

</script>
</body>

</html>

