<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<!-- Todo : Padding 작업  -->
<head>
    <title>메인 페이</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>


<body>

<div class="container">
    <div class="row">
        <div class="col-12">
            <head th:replace="layout/header::userHead"></head>
            <header th:replace="layout/topOverTop::topOverTop"></header>
            <header th:replace="layout/top::header_main"></header>
        </div>
    </div>
</div>

<div class="container">

    <div class = "row">
        <!-- 광고 -->
        <div class="col-md-6" style="padding-top: 20px; padding-bottom: 20px;">
            <div th:replace="home/advertise :: advertise"></div>
        </div>
        <!-- 팀순위 -->
        <div class="col-md-6" style="padding-top: 20px; padding-bottom: 20px;">
            <div th:replace="kbo/layout/teamBoardList"></div>
        </div>
    </div>

    <div class = "row">
        <div class="col-12">
            <!-- Todo : 경기 일정  -->
            <div th:replace="layout/rule"></div>
            <div th:replace="layout/schedule"></div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12" style="padding-top: 20px; padding-bottom: 20px;">
                <div th:replace="layout/iconService"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6" style="padding-top: 20px; padding-bottom: 20px;">
                <div th:insert="home/article :: article-1"></div>
                <div th:insert="home/recentBoardTop5 :: newsTop5"></div>
            </div>

            <div class="col-md-6" style="padding-top: 20px; padding-bottom: 20px;">
                <div th:replace="home/article :: article-2"></div>
                <div th:replace="home/recentBoardTop5 :: articleTop5"></div>
            </div>
        </div>

        <div class ="row">
            <!-- banner#1 -->
            <div class="col-md-6 order-md-1">
                <div th:replace="home/banner_1 :: banner-1"></div>
                <div th:replace="home/recentBoardTop5 :: rumorTop5"></div>
            </div>
            <!-- banner#2 -->
            <div class="col-md-6 order-md-1">
                <div th:replace="home/banner_2 :: banner-2"></div>
                <div th:replace="home/recentBoardTop5 :: communityTop5"></div>
            </div>
        </div>

        <div class = "row">
            <div class="col-12" style="padding-top: 20px; padding-bottom: 20px">
                <div th:replace="layout/iconServiceTeams"></div>
            </div>
        </div>
        <div class = "row">
            <div class="col-12" style="padding-top: 20px; padding-bottom: 20px">
                <div th:replace="home/media :: media-highlight"></div>
            </div>
        </div>
        <div class = "row">
            <div class="col-12" style="padding-top: 20px; padding-bottom: 20px">
                <div th:replace="home/media :: media-video"></div>
            </div>
        </div>

        <div class = "row">
            <div class="col-12" style="padding-top: 20px; padding-bottom: 20px">
                <div th:replace="home/media :: media-instagram"></div>
            </div>
        </div>
    </div>


<!--    <div class = "row">-->
<!--        <div class="col-12" style="padding-top: 20px; padding-bottom: 20px">-->
<!--            <div th:replace="home/media :: media-youtube"></div>-->
<!--        </div>-->
<!--    </div>-->

</div>
<div class="container">
    <div th:replace="layout/footer"></div>
</div>

</body>
</html>

