<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="article-1" >
  <head>

  </head>

  <body>
  <div class="container" style="padding-top: 20px;">
    <div class="container" style="display: flex; align-items: center; justify-content: space-between;">
      <p style="font-size: 16px; font-weight: bold; margin: 0;">KBO 소식</p>
      <img src="/images/home/icons/icon_plus_n.png" style="margin-left: auto;">
    </div>
    <div class="container">
      <hr>
    </div>
  </div>
  </body>
</div>

<div th:fragment="article-2" >
  <head>

  </head>

  <body>
  <div class = "container" style="padding-top: 20px;">
    <div class="container" style="display: flex; align-items: center; justify-content: space-between;">
      <p style="font-size: 16px; font-weight: bold; margin: 0;">KBO 뉴스</p>
      <img src="/images/home/icons/icon_plus_n.png" style="margin-left: auto;">
    </div>

    <div class="container">
      <hr>
    </div>
  </div>
  </body>
</div>

</html>